configure~
autom4te.cache
config.log
config.status
configure
include/config.h
info.sh
packages/pkgfiles
packages/files/fetch_form.html
packages/test
packages/util/utod
packages/util/utod.exe
util/timegen
util/timegen.exe
