bin/GTK2
bin/GTK3
bin/QT5
bin/QT6
bin/wrdecode
bin/wrdecode.exe
bin/wrencode
bin/wrencode.exe
bin/wrsetpass
bin/wrsetpass.exe
help/FileSel.hlp
help/Hardcopy.hlp
help/HelpSys.hlp
help/TMsmall.gif
help/TextEditor.hlp
help/Accessories.hlp
help/arc.xpm
help/box.xpm
help/break.xpm
help/deck.xpm
help/desel.xpm
help/devs.xpm
help/donut.xpm
help/erase.xpm
help/iplot.xpm
help/label.xpm
help/layer.xpm
help/logo.xpm
help/lpal.xpm
help/lspec.xpm
help/ltpal.xpm
help/ltsty.xpm
help/ltvis.xpm
help/nodmp.xpm
help/place.xpm
help/plot.xpm
help/polyg.xpm
help/put.xpm
help/rdraw.xpm
help/round.xpm
help/run.xpm
help/screenshots/email.png
help/screenshots/filesel.png
help/screenshots/help.png
help/screenshots/print.png
help/screenshots/texted.png
help/selcp.xpm
help/setcl.xpm
help/shapes.xpm
help/sides.xpm
help/spAnalysis.hlp
help/spElements.hlp
help/spExpressions.hlp
help/spInput.hlp
help/spModels.hlp
help/spSemicond.hlp
help/spSources.hlp
help/spcmd.xpm
help/spin.xpm
help/style.xpm
help/subct.xpm
help/symbl.xpm
help/terms.xpm
help/wire.xpm
help/wr.xpm
help/wrbannermain.gif
help/xform.xpm
help/xor.xpm
include/reltag.h
lib
plugins/py27.dylib
plugins/py27.so
plugins/py27.dll
plugins/tcl.dylib
plugins/tcl.so
plugins/tcl.dll
plugins/tcltk.dylib
plugins/tcltk.so
plugins/tcltk.dll
src/oa/oa.dylib
src/oa/oa.so
src/oa/oa.dll
src/scrkit/miscmath.h
src/scrkit/si_args.h
src/scrkit/si_if_variable.h
src/sparse/spbuild.cc
src/sparse/spfactor.cc
src/sparse/spsolve.cc
src/sparse/sputils.cc
src/wrspif/hash.cc
src/wrspif/paramsub.cc
src/wrspif/spnumber.cc
src/wrspif/spparse.cc
startup/wr_install
manual/*.aux
manual/xicmanual-*
manual/xicmanual.aux
manual/xicmanual.dvi
manual/xicmanual.idx
manual/xicmanual.ilg
manual/xicmanual.ind
manual/xicmanual.log
manual/xicmanual.toc
manual/tocloft.sty
manual/xicmanual
manual/*.tex
