bin/GTK2
bin/GTK3
bin/QT5
bin/QT6
bin/csvtoraw
bin/csvtoraw.exe
bin/multidec
bin/multidec.exe
bin/printtoraw
bin/printtoraw.exe
bin/proc2mod
bin/proc2mod.exe
bin/wrspiced
bin/wrspiced.exe
help/FileSel.hlp
help/Hardcopy.hlp
help/HelpSys.hlp
help/TMsmall.gif
help/TextEditor.hlp
help/screenshots/email.png
help/screenshots/filesel.png
help/screenshots/help.png
help/screenshots/print.png
help/screenshots/texted.png
help/spAnalysis.hlp
help/spElements.hlp
help/spExpressions.hlp
help/spInput.hlp
help/spModels.hlp
help/spSemicond.hlp
help/spSources.hlp
include/reltag.h
ipc_demo/sced_spiceipc.cc
ipc_demo/spclient
ipc_demo/spclient.exe
lib
src/fte/paramsub.cc
src/misc/hash.cc
src/misc/spnumber.cc
src/misc/spparse.cc
src/sparse/spbuild.cc
src/sparse/spfactor.cc
src/sparse/spoutput.cc
src/sparse/spsolve.cc
src/sparse/sputils.cc
startup/wr_install
manual/*.aux
manual/wrsmanual-*
manual/wrsmanual.aux
manual/wrsmanual.dvi
manual/wrsmanual.idx
manual/wrsmanual.ilg
manual/wrsmanual.ind
manual/wrsmanual.log
manual/wrsmanual.toc
manual/wrsmanual
